@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-40px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
      transform: translatey(0px);
	}
	50% {
      transform: translatey(-15px);
	}
	100% {
      transform: translatey(0px);
	}
}

@keyframes floatH {
	0% {
      transform: translatex(0px);
	}
	50% {
      transform: translatex(-15px);
	}
	100% {
      transform: translatex(0px);
	}
}

@keyframes rotate {
	0% {
      transform: rotate(0deg);
	}
	50% {
      transform: rotate(-10deg);
	}
	100% {
      transform: rotate(0deg);
	}
}

body {
   background-color: black;
}

.flex {
   display: flex;
}

.whiteText {
   color: white;
}

.buttonStyle {
   border: solid black 2px;
   border-radius: 25px;
   background-color: rgba(255,255,255,0.5);
}

.startFont {
   font-size: 50px;
   font-family: 'Roboto Mono', monospace;
}

.instructionsFont {
   font-size: 25px;
   font-family: 'Roboto Mono', monospace;
   font-style: italic;
}

.titleFont {
   font-size: 50px;
   font-weight: bold;
   font-family: 'Roboto Mono', monospace;
}

.menu {
   transform: translatey(0px);
	animation: float 5s ease-in-out infinite;
}

.floating {
   transform: translatey(0px);
   animation: float2 2s ease-in-out infinite;
   background-color: transparent;
}

.floatingH {
   transform: translatex(0px);
   animation: floatH 3s ease-in-out infinite;
   background-color: transparent;
}

.rotating{
   transform: rotate(0deg);
   animation: rotate 2s ease-in-out infinite;
   background-color: transparent;
}